useDynLib(spc)
export("xshewhartrunsrules.ad", "xshewhartrunsrules.arl", "xshewhartrunsrules.crit", "xshewhartrunsrules.matrix",
       "xewma.ad", "xewma.arl", "xewma.crit", "xewma.q", "xewma.sf", "xewma.q.crit",
       "xcusum.ad", "xcusum.arl", "xcusum.crit.L0h", "xcusum.crit.L0L1", "xcusum.crit", "xcusum.q", "xcusum.sf",
       "xgrsr.ad", "xgrsr.arl", "xgrsr.crit",
       "sewma.arl", "sewma.crit", "sewma.sf", "sewma.q.crit", "sewma.q",
       "sewma.sf.prerun", "sewma.arl.prerun", "sewma.q.crit.prerun", "sewma.q.prerun", "sewma.crit.prerun",
       "lns2ewma.arl", "lns2ewma.crit",
       "scusum.arl", "scusum.crit",
       "mewma.arl", "mewma.crit",
       "xsewma.arl", "xsewma.crit", "xsewma.sf", "xsewma.q.crit", "xsewma.q",
       "xewma.arl.prerun", "xewma.q.prerun", "xewma.sf.prerun",
       "xewma.crit.prerun", "xewma.q.crit.prerun",
       "xDcusum.arl", "xDewma.arl", "xDgrsr.arl", "xDshewhartrunsrules.arl", "xDshewhartrunsrulesFixedm.arl",
       "p.ewma.arl",
       "phat.ewma.arl", "phat.ewma.crit", "phat.ewma.lambda",
       "s.res.ewma.arl", "x.res.ewma.arl", "xs.res.ewma.arl", "xs.res.ewma.pms",
       "quadrature.nodes.weights",   
       "tol.lim.fac")
